<div class="container my-5">
  <table class="table table-dark table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Transaction Date</th>
        <th>Amount</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let customer of customers">
        <td>{{ customer.name }}</td>
        <td>
          <ul>
            <li *ngFor="let transaction of transactions | customerTransactions:customer.id">
              {{ transaction.date | date }} - ${{ transaction.amount }}
            </li>
          </ul>
        </td>
        <td>
          <ul>
            <li *ngFor="let transaction of transactions | customerTransactions:customer.id">
              ${{ transaction.amount }}
            </li>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>
</div>
